version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_pedidos_pizzaria_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: always
